*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{height: auto;}
header{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
nav{
    background: rgb(0, 73, 133);
    height: 80px;
}
nav .logo{
    width: 40%;
}
nav button > span{
    color: rgb(0, 0, 0);   
}
 nav .navbar-toggler{
     background-color: rgba(255, 255, 255, 0.788);
 }
nav img{
    width: 120px;
    /* float: left; */
    margin-left: 10%;
}
div >.navcont{
    width: 60%;
}
nav ul .nav-item{
    width: auto;
    padding: 18px;
}
nav ul .nav-item a:hover{
    color: black;
}
.dropdow{
    background: rgb(0, 73, 133);
    width:170px;
    height:0px;
    margin-top: 20px;
    margin-left: -10px;
    padding-left: 0rem;
    position:absolute;
    text-align: left;
    z-index: 2;
    overflow:hidden ;
 transition: 0.6s ease-in-out;
}
.dropbtn:hover .dropdow{
 height:216px; overflow: hidden;
}
.dropdow li{
    list-style: none; 
    padding: 15px;
}
.dropdow li:hover{
    background-color: rgba(0, 0, 0, 0.371);
}
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    /* margin-bottom: 4rem; */
    overflow: hidden;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: color-burn;
  }
  .carousel .one {
    background-image: url(img/mining1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .carousel .two{
    background-image: url(img/mining333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .carousel .three {
    background-image: url(img/mining3333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

   /* SecondSection After Carousel */

   .secondSec{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.938);
    overflow: hidden;
   }
   .secondSec .one,.secondSec .two,.secondSec .three{
       /* max-width: 28%; */
       height: auto;
       float: left;
       color: white;
       transition: 0.5s;
       margin: 70px 1.5% 0 1.5%;
       /* display: inline-flex;  */
   }
   .secondSec .one{
       width: 35%;
       padding: 50px 30px 30px 50px;
   }
   .secondSec .one p{
       color: rgba(255, 255, 255, 0.63);
       font-size: 18px;
       padding: 10px 0;
   }
   /* .secondSec .one span{
       text-decoration-line: underline;
       text-decoration-color:rgba(255, 64, 0, 0.986) ;
   } */
   .secondSec h4{
       width: 40%;
       text-align: center;
       font-size: 13px;
       padding: 7px;
       background-color:rgb(0, 73, 133);
       border-bottom-left-radius: 15px;
       border-top-right-radius: 15px;
   }
   .secondSec h3{
       font-size: 35px;
       font-weight: 700;
       font-family: Arial, Helvetica, sans-serif;
   }
   .secondSec .two{
       width: 28%;
       padding: 100px 30px 30px 50px;
       background-color: rgb(0, 73, 133);
   }
    .secondSec .three{
        width: 28%;
        background-color: rgb(0, 0, 0);
        padding: 100px 30px 30px 50px;
    }
    .secondSec h2{
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  



   /* ThirdSection After Carousel */
   .SBlank{
       width: 100%;
       height: 100px;
       background-color: rgba(12, 11, 11, 0.904);
   }
   .thirdSec{
       width: 100%;
       height: auto;
       overflow: hidden;
       /* background-color: rgb(255, 0, 0); */
   }
   .serviceSec{
       width: 50%;
       height: 700px;
       background-image: url(img/istockphoto3.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* background-position-x: 50%; */
       background-position: center;
       background-color: rgba(0, 0, 0, 0.418);
       background-blend-mode: color-burn;
       float: left;
       color: white;
       overflow:hidden ;
       text-align:center;
   }
   .serviceSec .serv .rap{
       width: 100%;
       text-align: center;
   }
   .thirdSec h4{
       text-align: center;
       font-size: 30px;
       margin: 320px 0;
   }
   .thirdSec h4 > span{
       border-bottom-left-radius: 15px;
       border-top-right-radius: 15px;
       padding: 10px 20px;
       background-color:rgb(0, 73, 133);
   }
   .serviceSec .serv{
       width: 70%;
       float: right ;
       font-size: 17px;
       margin:10px 40px; 
   }
   .serviceSec .serv h3{
       font-size: 40px;
       font-family:Impact, sans-serif;
   }
   .textSec{
       width: 50%;
       height: 700px;
       background-color: rgba(12, 11, 11, 0.904);
       float: left;
       overflow: hidden;
   }
   .textSec .fstA{
        width: 70%;
        height: 150px;
        padding: 21px;
        color: white;
        background-color: rgba(255, 0, 0, 0);
        margin:10px 15%;
   }
   .textSec .fstA p{
       color: rgba(255, 255, 255, 0.555);
   }
   .textSec .fstA h2{
       font-size: 23px;
       transition: 0.5s;
   }
   .textSec .fstA:hover h2{
       color: rgb(0, 73, 133);
   }

       /* FourthSection */
       .fourthSec{
           width: 100%;
           height: auto;
           overflow: hidden;
           background-color: rgba(0, 0, 0, 0.952);

       }
       .fourthSec .Tarea{
           width: 100%;
           height: auto;
           text-align: center;
           margin: 100px 0 50px 0;
       }
       .fourthSec .span1,.fourthSec h2{
           color: white;
       }
       .Tarea h2{
           font-size: 50px;
       }
       .Tarea .span1{
           background-color: rgb(0, 73, 133);
           padding: 10px 20px;
           font-size: 20px;
           border-bottom-left-radius: 10px;
           border-top-right-radius: 10px;
       }
       .Tarea .span2{
           color: rgba(255, 255, 255, 0.589);
       }
   #myBtnContainer{
       text-align: center;
       margin-top: 20px;
   }
   /* Add padding BETWEEN each column */
   .roman,
   .roman > .plan {
       padding: 10px;
   
   }
   .roman{
       width: 90%;
       margin: 0 5%;
       overflow: hidden;
   }
   
   /* Create three equal columns that floats next to each other */
   .plan{
       float: left;
       width: 25%;
       display: none; /*Hide all elements by default */
   }
   
   /* Clear floats after rows */ 
   .roman:after {
       content: "";
       display: table;
       clear: both;
   }
   
   /* Content */
   .content {
       color: rgba(0, 0, 0, 0);
       transition: 0.5s;
       text-align: center;
       /* line-height: 25px; */
       font-size: 18px;
   }
   .content .spa{
       width: 100%;
       /* margin-top: -40px; */
       visibility: visible;
   }
   .content img{
       transition: 0.5s;
       z-index: -4;
       /* height: 100px; */
   }
   .content:hover .spa{
       color: rgba(255, 240, 234, 0.856);
       background-color: rgba(214, 214, 214, 0.055);
       transition: 0.5s;
   }
   .content img:hover{
       filter: grayscale(100%);
       z-index: -5;
   }
   
   /* The "show" class is added to the filtered elements */
   .show {
     display: block;
   }
   
   /* Style the buttons */
   .btnn{
     border: none;
     outline: none;
     padding: 12px 16px;
     font-weight: 800;
     cursor: pointer;
     transition: 0.5s;
     border-bottom-left-radius: 15px;
     border-top-right-radius: 15px;
     margin: 5px;
     color: white;
     background-color: rgba(0, 0, 0, 0);
   }
   
   .btnn:hover {
     color: rgb(0, 73, 133);
     transition: 0.5s;
   }
   .btnn.active {
     background-color: rgb(0, 73, 133);
     color: white;
   }


    /* <!-- END GRID --> */
    
    .fourthSec .proW{
        width: 100%;
        height: auto;
        margin: 80px 0;
        text-align: center;
        color: white;
    }
    .proW h6{
        font-size: 25px;
        font-weight: 900;
    }
    .proW h6 > span{
        background-color:rgb(0, 73, 133);
        padding: 5px 20px 10px 20px;
        transition: 0.3s;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .proW h6 a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: lighter;
    }
    .proW h6 > span:hover{
        background-color: rgba(255, 255, 255, 0);
        outline: 1px solid rgb(0, 73, 133);
    }

    /* FIFTHSECTION>>>>WHY CHOOSE OUR COMPANY */
    .fifthSec{
        width: 100%;
        height: auto;
        /* background-color: blue; */
        overflow: hidden;
    }
    .comSec,.expSec,.safSec,.tecSec{
        width: 25%;
        height: 700px;
        float: left;
        padding: 170px 30px;
        color: white;
        line-height: 28px;
    }
    .comSec{
        /* text-align: left; */
        background-color: black;
        /* padding-top: 150px; */
        font-weight: 100;
    }
    .comSec .cc{
        width: 95%;
        margin: auto 2.5%;
        height: auto;
        margin-top: 150px;
        text-align: center;
    }
    .comSec span{
        background-color: rgb(0, 73, 133);
        font-size: 20px;
        padding: 10px 13px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .comSec h3{
        font-size: 50px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 2rem;
    }
    .expSec{
        text-align: center;
        background-color: rgba(12, 11, 11, 0.904);
    }
    .expSec .cc{
        background-color: rgba(255, 0, 0, 0);
    }
    .expSec h4{
        margin-bottom: 2rem;
        padding: 25px;
        font-size: 40px;
    }
    .expSec h3{
        color: white;
        transition: 0.5s ease-in-out;
        font-size: 25px;
    }
    .expSec span{
        background-color:rgb(0, 73, 133);
        padding: 20px;
        transition: 0.5s ease-in-out;
        outline: 5px solid rgba(253, 253, 253, 0.603);
    }
    .expSec .cc:hover span{
        outline: 15px solid rgba(253, 253, 253, 0.603);
    }
    .expSec .cc:hover h3{
        color: rgb(0, 73, 133);
    }
    .safSec{
        text-align: center;
        background-color: black;
    }
    .safSec .cc{
        background-color: rgba(255, 0, 0, 0);
    }
    .safSec h4{
        margin-bottom: 2rem;
        padding: 25px;
        font-size: 40px;
    }
    .safSec h3{
        color: white;
        transition: 0.5s ease-in-out;
        font-size: 25px;
    }
    .safSec span{
        background-color: rgb(0, 73, 133);
        padding: 20px;
        transition: 0.5s ease-in-out;
        outline: 5px solid rgba(253, 253, 253, 0.603);
    }
    .safSec .cc:hover span{
        outline: 15px solid rgba(253, 253, 253, 0.603);
    }
    .safSec .cc:hover h3{
        color: rgb(0, 73, 133);
    }
    .tecSec{
        text-align: center;
        background-color: rgba(12, 11, 11, 0.904);
    }
    .tecSec .cc{
        background-color: rgba(255, 0, 0, 0);
    }
    .tecSec h4{
        margin-bottom: 2rem;
        padding: 25px;
        font-size: 40px;
    }
    .tecSec h3{
        color: white;
        transition: 0.5s ease-in-out;
        font-size: 25px;
    }
    .tecSec span{
        background-color: rgb(0, 73, 133);
        padding: 20px;
        transition: 0.5s ease-in-out;
        outline: 5px solid rgba(253, 253, 253, 0.603);
    }
    .tecSec .cc:hover span{
        outline: 15px solid rgba(253, 253, 253, 0.603);
    }
    .tecSec .cc:hover h3{
        color: rgb(0,73,133);
    }


    /* SIXTHSECTION>> */

    .sixthSec{
        width: 100%;
        height:auto;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.952);
    }
    .sixthSec .sixT{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        margin: 100px 0 50px 0;
    }
    .sixthSec .span1,.sixthSec h2{
        color: white;
    }
    .sixthSec h2{
        font-size: 50px;
    }
    .sixthSec .span1{
        background-color: rgb(0, 73, 133);
        padding: 5px 15px;
        font-size: 25px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sixthSec .span2{
        color: rgba(255, 255, 255, 0.589);
    }
    .sixIMG{
        width: 90%;
        margin: 0 5%;
    }
    .card h6,.card p{
        color: rgba(255, 255, 255, 0.466);
    }
    .card h6{
        margin-bottom: 1rem;
    }
    .sixIMG .card{
        width: 30%;
        float: left;
        padding: 0 0 60px 0;
        margin: 20px 1.6%;
        background-color: rgba(8, 8, 8, 0.678);
        box-shadow: 0 4px 7px 0 rgba(255, 255, 255, 0.11);
        color: white;
    }
    .card .a{
        text-decoration: none;
        color: rgb(0, 73, 133);
    }
    .card .a:hover{
        color: rgb(0, 73, 133);
    }
    .sixIMG .card .b{
        text-decoration: none;
        color: white;
        transition: 0.4s;
    }
    .sixIMG .card:hover .b{
        color: rgb(0, 73, 133);
    }

    /* SEVENTHSEC */

    .seventhSec{
        width: 90%;
        height: auto;
        margin: 0 5%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.089)
    }
    .seventhSec img{
        width: 15%;
        margin: 100px 0.5%;
        filter: grayscale(100%);
        transition: 0.5s;
        background-color: black;
        padding: 10px;
    }
    .seventhSec img:hover{
        filter: grayscale(0%);
    }

    /* FOOTER */

    footer{
        width: 100%;
        height:auto;
        background-color: rgba(0, 0, 0, 0.938);
        overflow: hidden;
    }
    .Ftop{
        width: 100%;
        height: auto;
    }
    .Fcom{
        width: 30%;
        height: auto;
        /* background-color: red; */
        float: left;
        padding: 70px;
        margin: auto 1.5%;
        color: white;
        overflow: hidden;
    }
    .Fcom h3{
        margin-bottom: 30px;
    }
    .Fcom img{
        width: 100%;
        opacity: 0.5;
    }
    .Fcom p{
        color: rgba(255, 255, 255, 0.658);
        line-height: 30px;
    }
    .Fcom ul {
        padding: 0;
    }
    .Fcom ul li {
        list-style:square;
        line-height: 40px;
    }
    .Fcom ul li a{
        text-decoration: none;
        color: inherit;
        transition: 0.4s;
    }
    .Fcom ul li a:hover{
        color: rgb(0, 73, 133);
    }

    .Fbottom{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .Fbottom .FBcom{
        width: 30%;
        height: 150px;
        float: left;
        color: white;
        padding: 30px;
        margin: 50px 1.5%;
        transition: 0.4s ease-in-out;
        color: white;
        outline: 1px solid rgba(255, 255, 255, 0.226);
    }
    .FBcom:hover{
        outline-color:rgb(0, 73, 133);
    }
    .FBcom p{
        color: rgba(255, 255, 255, 0.562);
    }
    footer hr{
        color:rgb(255, 255, 255);
    }
    .Flast{
        width: 100%;
        height: auto;
        overflow: hidden;
        color: white;
    }
    .Flast .FCright{
        width: 40%;
        float: left;
    }
    .FCright p{
        font-size: 14px;
        margin: 30px;
    }
    .FCright a{
        text-decoration: none;
        color: rgb(0, 73, 133);
        transition: 0.2s ease-in-out;
    }
    .FCright a:hover{
        color: rgb(54, 124, 180);
    }
    .Flast .Ficon{
        width: 40%;
        float: right;
        text-align: right;
        margin: 0 20px;
    }
    .iconsquare{
        width: auto;
        height: auto;
        float: right;
        margin: 20px 18px;
        padding: 1px;
        transform: rotate(45deg);
        background-color: rgba(0, 0, 0, 0);
        outline: 1px solid rgb(0, 73, 133);
        transition: 0.8s ease-in-out;
    }
    .iconsquare:hover{
        background-color: rgb(0, 73, 133);
    }
    .Ficon img{
        width: 40px;
        transform: rotate(-45deg);
        /* filter:grayscale(100%); */
    }
    .FBcom img{
        width: 50px;
        float: left;
    }
    .FBcom .FBadd{
        float: left;
        margin: 0 0 0 30px;
    }















      /* RESPONSIVE CSS for PHONE
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
  @media screen and (max-width:767px) {
      
.navbar-nav{
    background: rgba(0,73,133);
    width: 50%;
    height: 100vh;
    margin-left: -15px;
    margin-top: 2px;
}
.SBlank{
    background-color: black;
}
.btnn{
  border: none;
  outline: none;
  padding: 2px;
}
nav ul .nav-item:hover{
    background-color: rgba(0, 0, 0, 0.212);
}
    .secondSec .one,.secondSec .two,.secondSec .three{
        float: none;
        width: 90%;
        margin: 20px;
    }
    .serviceSec,.textSec{
        width: 100%;
        /* height: auto; */
        margin:0px;
        float: none;
    } 
    .btnn{
      padding: 8px 12px;
      margin: 2px;
    }
    .comSec,.expSec,.safSec,.tecSec{
        width: 100%;
    }
    .sixIMG .card{
        width: 90%;
        margin: 2% 5%;
    }
    .seventhSec{
        width: 50%;
        margin:  0 25%;
    }
    .seventhSec img{
        width: 40%;
        float: left;
        margin: 20px 10px;
    }
    .comSec .cc{
        width: 95%;
        margin: auto 2.5%;
        height: auto;
        /* margin-top: 150px; */
        text-align: center;
    }
    
  }  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


























  /* RESPONSIVE CSS for Tab
  -------------------------------------------------- */
  
  @media screen and (max-width:992px) {
    /* nav .logo{
        width: 10%;
    }
    nav img{
        width: 120px;
        margin-left: 10%;
    } */
    div >.navcont{
        width: 70%;
    }
    .secondSec .one,.secondSec .two,.secondSec .three{
        float: none;
        width: 90%;
        margin: 20px;
    }
    .serviceSec,.textSec{
        width: 100%;
        /* height: auto; */
        margin:0px;
        float: none;
    }
    .comSec,.expSec,.safSec,.tecSec{
        width: 100%;
        height: auto;
    }
    .plan{
        float: left;
        width: 50%;
    }
    .Ftop .Fcom{
        width: 100%;
        text-align:justify  ;
        /* margin:  0 10%; */
    }
    .Fbottom .FBcom{
        width: 80%;
        margin: 20px 10%;
  }
  .Flast .Ficon{
      width: 100%;
      /* text-align: right; */
  }
  .Ficon img{
      width: 30px;
  }
  .btnn{
    border: none;
    outline: none;
    padding: 12px 5px;
  }
  .Flast .FCright{
      width: 100%;
      text-align: center;
  }







  @media screen and (max-width:1064px){

    nav .logo{
        width: 25%;
    }
    nav img{
        width: 120px;
        /* float: left; */
        margin-left: 10%;
    }
    div >.navcont{
        width: 70%;
    }   
  }
  }